volumes:
  pg_lldap_data:
  pg_authelia_data:


networks:
  proxy:
    external: true


services:
  pg_lldap:
    # postgres:18.1-alpine3.23
    image: "postgres@sha256:7c79e2ccf92fe341e26d9df68c3cc8e8d1999728f1d0290fc9cc58158d327acd"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "db"
    volumes:
      - type: "volume"
        source: "pg_lldap_data"
        target: "/var/lib/postgresql"
        read_only: false
    restart: "unless-stopped"
    security_opt:
      - no-new-privileges=true
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "128M"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      start_period: "1m"
      start_interval: "1s"
      timeout: "5s"
      retries: 5


  lldap:
    depends_on:
      pg_lldap:
        condition: "service_healthy"
    # 2025-10-14-alpine-rootless
    image: "docker.io/lldap/lldap@sha256:971d5a179b20cc2c1e7bf397fa13cdb8acae925568ccc315c447c3757b3bb1aa"
    networks:
      - default
      - proxy
    environment:
      TZ: "Europe/Helsinki"
      UID: 65535
      GID: 65535
      LLDAP_DATABASE_URL: "postgres://postgres:postgres@pg_lldap:5432/db"
      LLDAP_LDAP_BASE_DN: "dc=internal,dc=veetik,dc=com"
      LLDAP_LDAP_USER_DN: "security"
      LLDAP_LDAP_USER_EMAIL: "security@internal.veetik.com"
      LLDAP_LDAP_PORT: 8000
      LLDAP_LDAP_HOST: "0.0.0.0"
      LLDAP_HTTP_PORT: 8001
      LLDAP_HTTP_HOST: "0.0.0.0"
      LLDAP_HTTP_URL: "https://ldap.internal.veetik.com"
    env_file: "./.secrets/lldap/envs"
    restart: "unless-stopped"
    cap_drop: ["ALL"]
    security_opt:
      - "no-new-privileges=true"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "64M"
    labels:
      traefik.enable: true
      traefik.http.routers.lldap.rule: "Host(`ldap.internal.veetik.com`)"
      traefik.http.services.lldap.loadbalancer.server.port: 8001


  pg_authelia:
    # postgres:18.1-alpine3.23
    image: "postgres@sha256:7c79e2ccf92fe341e26d9df68c3cc8e8d1999728f1d0290fc9cc58158d327acd"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "db"
    volumes:
      - type: "volume"
        source: "pg_authelia_data"
        target: "/var/lib/postgresql"
        read_only: false
    restart: "unless-stopped"
    security_opt:
      - no-new-privileges=true
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "128M"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      start_period: "1m"
      start_interval: "1s"
      timeout: "5s"
      retries: 5


  authelia:
    depends_on:
      pg_authelia:
        condition: "service_healthy"
    # 4.39.13
    image: "docker.io/authelia/authelia@sha256:87c32df41ad3ff1e015ebfc0e413fe78aa12754cb91fd9452a9f33f8890105b6"
    environment:
      X_AUTHELIA_CONFIG_FILTERS: "template"
      AUTHELIA_NOTIFIER_FILESYSTEM_FILENAME: "/notifs.txt"
      AUTHELIA_AUTHENTICATION_BACKEND_LDAP_ADDRESS: "ldap://lldap:8000"
      AUTHELIA_SERVER_ADDRESS: "0.0.0.0:8000"
      AUTHELIA_STORAGE_POSTGRES_ADDRESS: "tcp://pg_authelia:5432"
      AUTHELIA_STORAGE_POSTGRES_DATABASE: "db"
      AUTHELIA_STORAGE_POSTGRES_USERNAME: "postgres"
      AUTHELIA_STORAGE_POSTGRES_PASSWORD: "postgres"
      AUTHELIA_STORAGE_POSTGRES_SCHEMA: "public"
    env_file: "./.secrets/authelia/envs"
    volumes:
      - type: "bind"
        source: "./notifs.txt"
        target: "/notifs.txt"
        read_only: false
      - type: "bind"
        source: "./.secrets/authelia/issuer_privkey"
        target: "/config/secrets/oidc/jwks/privkey"
        read_only: true
    configs:
      - source: "authelia_config"
        target: "/config/configuration.yml"
    networks: 
      - "default"
      - "proxy"
    restart: "unless-stopped"
    security_opt:
      - "no-new-privileges=true"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "64M"
    labels:
      traefik.enable: true
      traefik.http.routers.authelia.rule: "Host(`sso.internal.veetik.com`)"
      traefik.http.services.authelia.loadbalancer.server.port: 8000


configs:
  authelia_config:
    content: |
      server:
        address: "0.0.0.0:8000"
        endpoints:
          rate_limits:
            session_elevation_start:
              enable: true
            session_elevation_finish:
              enable: true
            second_factor_totp:
              enable: true

      theme: "dark"

      log:
        level: "info"

      session:
        cookies:
          - domain: "internal.veetik.com"
            authelia_url: "https://sso.internal.veetik.com"
            inactivity: "1M"
            expiration: "3M"
            remember_me: "1y"

      regulation:
        max_retries: 3
        find_time: 120
        ban_time: 300

      authentication_backend:
        password_reset.disable: false
        refresh_interval: "1m"
        ldap:
          # address: env AUTHELIA_AUTHENTICATION_BACKEND_LDAP_ADDRESS
          implementation: "custom"
          timeout: "5m"
          start_tls: false
          base_dn: "dc=internal,dc=veetik,dc=com"
          additional_users_dn: "ou=people"
          users_filter: "(&({username_attribute}={input})(objectClass=person))"
          additional_groups_dn: "ou=groups"
          groups_filter: "(member={dn})"
          user: "uid=authelia,ou=people,dc=internal,dc=veetik,dc=com"
          attributes:
            display_name: "displayName"
            group_name: "cn"
            mail: "mail"
            username: "uid"

      access_control:
        default_policy: "deny"
        networks:
          - name: "everything"
            networks: [ "0.0.0.0/0" ]
        rules:
          - domain: "*.internal.veetik.com"
            policy: "two_factor"
            networks: "everything"
            subject: [ "group:security" ]

      identity_providers:
        oidc:
          jwks:
            - key: {{ secret "/config/secrets/oidc/jwks/privkey" | mindent 10 "|" | msquote }}
          claims_policies:
            grafana:
              id_token:
                - "email"
                - "name"
                - "groups"
                - "preferred_username"
          clients:
            - authorization_policy: "two_factor"
              client_id: "forgejo"
              client_secret: "$$argon2id$$v=19$$m=65536,t=3,p=4$$FcaBmYkPdckkZ9LBHDH+ng$$7dBueTDWkEei2kACyPMPCGmWMCu//noATwOCuMcPig0"
              redirect_uris: [ "https://git.internal.veetik.com/user/oauth2/Internal%20SSO/callback" ]
              public: false
              require_pkce: true
              pkce_challenge_method: "S256"
              scopes:
                - "openid"
                - "profile"
                - "groups"
                - "email"
              response_types: [ "code" ]
              grant_types: [ "authorization_code" ]
              access_token_signed_response_alg: "none"
              userinfo_signed_response_alg: "none"
              token_endpoint_auth_method: "client_secret_basic"

            - claims_policy: "grafana"
              authorization_policy: "two_factor"
              client_id: "grafana"
              client_secret: "$$pbkdf2-sha512$$310000$$cDzRAvp4DfgaJplDYRPsdQ$$a3DtTesjWVzKU1AR1H5tD409.0/ABy6L.hH1uQdjjpZ62Lc59VD53/iCKn7S8wGADQA.UVf3BlyDAtXUKKN0TA"
              redirect_uris: [ "https://grafs.internal.veetik.com/login/generic_oauth" ]
              public: false
              scopes:
                - "openid"
                - "profile"
                - "groups"
                - "email"
              pkce_challenge_method: "S256"
              require_pkce: true
              response_types: [ "code" ]
              grant_types: [ "authorization_code" ]
              access_token_signed_response_alg: "none"
              userinfo_signed_response_alg: "none"
              token_endpoint_auth_method: "client_secret_basic"

            - authorization_policy: "two_factor"
              client_id: "miniflux"
              client_secret: "$$pbkdf2-sha512$$310000$$iJtVSGOLnr/0Ewweld9hvQ$$kXd9vGnyzcfWCLbNOJ87EcSjR213R0zLsDR2sDyf3ePteEJtiWIu5WKFpXxoueHyCDtEyObAujvu4u1kIjRA0A"
              redirect_uris: [ "https://rss.internal.veetik.com/oauth2/oidc/callback" ]
              public: false
              scopes:
                - "openid"
                - "profile"
                - "email"
              pkce_challenge_method: ""
              require_pkce: false
              response_types: [ "code" ]
              grant_types: [ "authorization_code" ]
              access_token_signed_response_alg: "none"
              userinfo_signed_response_alg: "none"
              token_endpoint_auth_method: "client_secret_basic"

