volumes:
  pg_vaultwarden_data:
  vaultwarden_data:


networks:
  proxy:
    external: true


services:
  pg_vaultwarden:
    # postgres:18.1-alpine3.23
    image: "postgres@sha256:7c79e2ccf92fe341e26d9df68c3cc8e8d1999728f1d0290fc9cc58158d327acd"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "db"
    volumes:
      - type: "volume"
        source: "pg_vaultwarden_data"
        target: "/var/lib/postgresql"
        read_only: false
    restart: "unless-stopped"
    security_opt:
      - no-new-privileges=true
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "128M"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      start_period: "1m"
      start_interval: "1s"
      timeout: "5s"
      retries: 5


  vaultwarden:
    depends_on:
      pg_vaultwarden:
        condition: "service_healthy"
    image: "docker.io/vaultwarden/server@sha256:84fd8a47f58d79a1ad824c27be0a9492750c0fa5216b35c749863093bfa3c3d7"
    networks:
      - default
      - proxy
    healthcheck:
      test: ["CMD", "/healthcheck.sh"]
      interval: "1m"
      timeout: "5s"
      retries: 5
      start_period: "1m"
      start_interval: "2s"
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@pg_vaultwarden:5432/db"
      DOMAIN: "https://pass.internal.veetik.com"
      ROCKET_PORT: 8000
      ROCKET_ADDRESS: "0.0.0.0"
      # WEBSOCKET_ENABLED: true
      # WEBSOCKET_PORT: "8003"
      SHOW_PASSWORD_HINT: false
      INVITATIONS_ALLOWED: false
      SIGNUPS_ALLOWED: false
      EMERGENCY_ACCESS_ALLOWED: false
      WEB_VAULT_ENABLED: true
      LOG_LEVEL: "INFO"
      EXTENDED_LOGGING: true
      USE_SYSLOG: "false"
      DISABLE_ICON_DOWNLOAD: false
      ICON_CACHE_TTL: "2592000"
      ICON_CACHE_NEGTTL: "259200"
      REQUIRE_DEVICE_EMAIL: true
      SENDS_ALLOWED: false
      ORG_CREATION_USERS: "none"
      PASSWORD_ITERATIONS: "350000"
    env_file: "./.secrets/vaultwarden/envs"
    volumes:
      - type: "volume"
        source: "vaultwarden_data"
        target: "/data"
        read_only: false
    restart: "unless-stopped"
    security_opt:
      - "no-new-privileges=true"
    deploy:
      resources:
        limits:
          cpus: "0.75"
          memory: "128M"
    labels:
      traefik.enable: true
      traefik.http.routers.vaultwarden.rule: "Host(`pass.internal.veetik.com`)"
      traefik.http.services.vaultwarden.loadbalancer.server.port: 8000

