volumes:
  pg_forgejo_data:
  forgejo_data:


networks:
  proxy_internal:
    external: true
  default:


services:
  pg_forgejo:
    # postgres:18.1-alpine3.23
    image: "postgres@sha256:7c79e2ccf92fe341e26d9df68c3cc8e8d1999728f1d0290fc9cc58158d327acd"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "db"
    volumes:
      - type: "volume"
        source: "pg_forgejo_data"
        target: "/var/lib/postgresql"
        read_only: false
    restart: "unless-stopped"
    security_opt:
      - no-new-privileges=true
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "128M"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      start_period: "1m"
      start_interval: "1s"
      timeout: "5s"
      retries: 5


  forgejo:
    depends_on:
      pg_forgejo:
        condition: "service_healthy"
    # 13.0.3-rootless
    image: "codeberg.org/forgejo/forgejo@sha256:111740e2eb9387ee074774ca92da792929fce77a16161b3f0049e33a534b2217"
    environment:
      USER_UID: 65535
      USER_GID: 65535
      FORGEJO__database__DB_TYPE: "postgres"
      FORGEJO__database__HOST: "pg_forgejo:5432"
      FORGEJO__database__NAME: "db"
      FORGEJO__database__USER: "postgres"
      FORGEJO__database__PASSWD: "postgres"

      FORGEJO__service__DISABLE_REGISTRATION: false
      FORGEJO__service__ALLOW_ONLY_EXTERNAL_REGISTRATION: true
      FORGEJO__service__ENABLE_OPENID_SIGNIN: false
      FORGEJO__service__ENABLE_OPENID_SIGNUP: true
      FORGEJO__service__SHOW_REGISTRATION_BUTTON: false
      FORGEJO__oauth2_client__ENABLE_AUTO_REGISTRATION: true

      FORGEJO__cache__ENABLED: true

      FORGEJO__session__COOKIE_SECURE: true
      FORGEJO__session__SAME_SITE: "strict"

      FORGEJO__server__DOMAIN: "internal.veetik.com"
      FORGEJO__server__ROOT_URL: "https://git.internal.veetik.com/"
      FORGEJO__server__LANDING_PAGE: "explore"
      FORGEJO__server__HTTP_ADDR: "0.0.0.0"
      FORGEJO__server__HTTP_PORT: 8000
      FORGEJO__server__SSH_PORT: 2222
      FORGEJO__server__DISABLE_ROUTER_LOG: true


      FORGEJO__repository__DEFAULT_BRANCH: "master"
      FORGEJO__repository__DEFAULT_MERGE_STYLE: "rebase-merge"
      FORGEJO__repository__DEFAULT_REPO_UNITS: "repo.code, repo.issues, repo.pulls"
      FORGEJO__repository__DEFAULT_PUSH_CREATE_PRIVATE: false
      FORGEJO__repository__ENABLE_PUSH_CREATE_ORG: true
      FORGEJO__repository__ENABLE_PUSH_CREATE_USER: true
      FORGEJO__repository__DISABLE_STARS: true
    restart: "unless-stopped"
    networks:
      - "default"
      - "proxy_internal"
    volumes:
      - type: "volume"
        source: "forgejo_data"
        target: "/data"
        read_only: false
      - type: "bind"
        source: "/etc/timezone"
        target: "/etc/timezone"
        read_only: true
      - type: "bind"
        source: "/etc/localtime"
        target: "/etc/localtime"
        read_only: true
    labels:
      traefik.enable: true
      traefik.http.routers.forgejo.rule: "Host(`git.internal.veetik.com`)"
      traefik.http.services.forgejo.loadbalancer.server.port: 8000

